In [ ]:
#Utilizar sql con las bibliotecas de Python
#pysqlite

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn=sqlite3.connect('prueba.db')

In [3]:
conn

In [4]:
#el cursor es lo que se encarga de mandar los comandos de 
#python a sql
"""
El cursor etc...
"""
cursor=conn.cursor()

In [5]:
#Crear una tabla
cursor.execute("""
CREATE TABLE IF NOT EXISTS   
User(
    email text,first_name text,last_name text,address text,
     age integer, PRIMARY KEY(email)

) 

""")

In [6]:
cursor.execute("INSERT INTO User VALUES ('maik@ironhack.com','Maik','Enríquez','Avenida siempreviva 123',32)")

In [8]:
cursor.execute("INSERT INTO User VALUES ('maik2@ironhack.com','Maik','Enríquez','Avenida siempreviva 123',32)")

In [9]:
info_tabla= cursor.execute("SELECT * FROM sqlite_master WHERE type='table'")

In [12]:
#objetos iterativos/iterable
info_tabla

In [13]:
for info in info_tabla: print(info)

('table', 'User', 'User', 2, 'CREATE TABLE User(\n    email text,first_name text,last_name text,address text,\n     age integer, PRIMARY KEY(email)\n\n)')

In [14]:
tabla_user=cursor.execute("SELECT * FROM User")

In [15]:
tabla_user

In [16]:
for info in tabla_user: print(info)

('maik@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32)
('maik2@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32)

In [17]:
#por ejemplo, si sólo me quiero traer las columnas:email y nombre
tabla_user=cursor.execute("SELECT email,first_name FROM User")
for info in tabla_user: print(info)

('maik@ironhack.com', 'Maik')
('maik2@ironhack.com', 'Maik')

In [18]:
cursor.execute("ALTER TABLE User ADD COLUMN gender text")

In [21]:
#para que en efecto se realicen los cambios "grandes" a las tablas
#como alterar tablas, editar columnas... 
#para que sean permanentes los cambios, similar a git, hay que hacer un commit al final
#hay 2 opciones
cursor.execute("commit")
#conn.commit()

OperationalError: ignored

In [22]:
tabla_user=cursor.execute("SELECT * FROM User")
for info in tabla_user: print(info)

('maik@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32, None)
('maik2@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32, None)

In [23]:
cursor.execute("UPDATE User SET gender='M' ")

In [24]:
tabla_user=cursor.execute("SELECT * FROM User")
for info in tabla_user: print(info)

('maik@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32, 'M')
('maik2@ironhack.com', 'Maik', 'Enríquez', 'Avenida siempreviva 123', 32, 'M')

In [26]:
df=pd.read_sql_query("SELECT * FROM User", sqlite3.connect('prueba.db'))

In [27]:
df

,email,first_name,last_name,address,age,gender
0,maik@ironhack.com,Maik,Enríquez,Avenida siempreviva 123,32,None
1,maik2@ironhack.com,Maik,Enríquez,Avenida siempreviva 123,32,None

In [28]:
type(df)

pandas.core.frame.DataFrame