In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [2]:
boston=load_boston()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [4]:
print(boston['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [5]:
df=pd.DataFrame(boston['data'],columns=boston['feature_names'])
print(df)
df['Price']=boston['target']

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [6]:
df.corr()['Price']

CRIM      -0.388305
ZN         0.360445
INDUS     -0.483725
CHAS       0.175260
NOX       -0.427321
RM         0.695360
AGE       -0.376955
DIS        0.249929
RAD       -0.381626
TAX       -0.468536
PTRATIO   -0.507787
B          0.333461
LSTAT     -0.737663
Price      1.000000
Name: Price, dtype: float64

In [7]:
scaler=StandardScaler()
X=scaler.fit_transform(df.drop('Price',axis=1))
y=df['Price']

In [8]:
X

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [9]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [10]:
#regressión lineal tipo Ridge
ridge=Ridge()
ridge_20=Ridge(alpha=20)

ridge_9_99=Ridge(alpha=9.99)

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=98)
y_test

286    20.1
352    18.6
468    19.1
225    50.0
452    16.1
       ...
378    13.1
408    17.2
219    23.0
224    44.8
78     21.2
Name: Price, Length: 102, dtype: float64

In [28]:
ridge.fit(X_train,y_train)
ridge_9_99.fit(X_train,y_train)

Ridge(alpha=9.99)

In [29]:
ridge_20.fit(X_train,y_train)

Ridge(alpha=20)

In [34]:
r_train_score=ridge.score(X_train,y_train)
r_test_score=ridge.score(X_test,y_test)

r_9_train_score=ridge_9_99.score(X_train,y_train)
r_9_test_score=ridge_9_99.score(X_test,y_test)

r20_train_score=ridge_20.score(X_train,y_train)
r20_test_score=ridge_20.score(X_test,y_test)

In [36]:
r_train_score,r_9_train_score,r20_train_score

(0.7293364014235403, 0.7279445275454266, 0.7253683296699814)

In [37]:
r_test_score,r_9_test_score,r20_test_score

(0.763389008406695, 0.7615399531864019, 0.7579760693190633)

In [ ]:
grid

In [ ]:
y_test

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
412    17.9
436     9.6
411    17.2
86     22.5
75     21.4
Name: Price, Length: 102, dtype: float64

In [ ]:
ridge_20.predict(X_test)

array([28.59168884, 35.26039435, 16.12148628, 24.8659174 , 18.7041308 ,
       23.27118134, 18.01323668, 14.85364532, 22.26927897, 20.88540237,
       24.58162138, 19.25095337, -5.20390864, 22.04212279, 19.36176275,
       25.6706509 , 19.568965  ,  5.91274737, 39.61102215, 17.59075106,
       26.73733633, 29.23526647, 12.13741791, 24.26207224, 17.66805321,
       15.29538194, 22.79921325, 14.87637149, 22.52844746, 19.53299195,
       22.1222618 , 25.21387798, 25.5960488 , 17.46881055, 16.3621481 ,
       17.62419194, 31.21633938, 20.26698867, 23.89971219, 24.55339497,
       14.44125654, 31.11949029, 41.24383393, 17.91775501, 27.22309669,
       16.72617652, 14.61213036, 25.80784569, 19.83052506, 30.18822462,
       21.67805294, 33.62392214, 16.67183035, 26.41367159, 38.77894938,
       22.22287841, 18.76038562, 31.64169708, 25.11200714, 13.63450478,
       23.04999361, 30.18676448, 30.85126315, 16.26839141, 21.79483952,
       16.93415144, 20.26443272, 25.80579184, 29.91572783, 11.79649124,
       20.52288259, 26.71284698, 11.28514559, 16.83596966, 23.75983465,
        6.65313153, 21.76604229, 39.99815279, 18.59849782, 10.3165651 ,
       21.31102214, 12.78825197, 21.34086776,  9.33723268, 23.05738101,
       31.64382668, 19.16463099, 25.53082438, 27.94784403, 20.43786354,
       25.44113328,  5.95896405, 20.42959347, 16.44044167, 11.72068019,
       21.04068764, 23.84784847, -0.12747055, 13.97796801, 15.89213037,
       22.2993492 , 24.52861251])

In [ ]:
print(ridge.coef_) #aquí sacas los coefs de las pendientes 
print(ridge_20.coef_)

[-0.96203397  0.68255872  0.25071604  0.71033762 -1.96157279  3.12232106
 -0.17845861 -3.0100255   2.20195592 -1.71784558 -1.97082455  1.12414013
 -3.61478723]
[-0.84416652  0.46198062 -0.03418626  0.75114482 -1.53723325  3.17316115
 -0.1880602  -2.48151078  1.31849282 -0.97365431 -1.83807721  1.08177436
 -3.40377171]

In [ ]:
Precio=-0.96*CRIM  +0.68*INDUS +0.25*CHAS +....... 1.12*LSTAT -3.16*MEDV +22.48

y=mx

In [ ]:
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV

In [ ]:
ridge.intercept_ #sacas la "b" de la eq. de la recta, la ordenada al origen

22.484854796146763

In [38]:
linreg=LinearRegression()
linreg.fit(X_train,y_train)

l_test_score=linreg.score(X_test,y_test)
r_test_score=ridge.score(X_test,y_test)
r20_test_score=ridge_20.score(X_test,y_test)
r9_99_test_score=ridge_9_99.score(X_test,y_test)

In [39]:
l_test_score,r_test_score,r20_test_score

(0.7634174432138471, 0.763389008406695, 0.7579760693190633)

In [40]:
(y_test-linreg.predict(X_test)).sum()

-26.210861929712564

In [41]:
(y_test-ridge.predict(X_test)).sum()

-26.81863446682887

In [42]:
(y_test-ridge_20.predict(X_test)).sum()

-31.060118085552794

In [43]:
(y_test-ridge_9_99.predict(X_test)).sum()

-30.011537915853353

In [46]:
(y_train-linreg.predict(X_train)).sum()

1.0089706847793423e-12

In [45]:
(y_train-ridge_9_99.predict(X_train)).sum()

3.623767952376511e-13

In [79]:
from sklearn.model_selection import GridSearchCV, RepeatedKFold
cv=RepeatedKFold(n_splits=3,n_repeats=10,random_state=425) #Cross-validation

grid=dict()
grid['alpha']=np.arange(0,10,0.01)

In [89]:
ridge_best=Ridge()

best_param=GridSearchCV(ridge_best,grid,cv=cv,n_jobs=-1,scoring='r2')

In [90]:
import time
start=time.time()
results=best_param.fit(X_train,y_train)
print(time.time()-start)

42.04174304008484

In [91]:
results.best_params_

{'alpha': 8.85}

In [62]:
el_mejor=Ridge()
el_mejor=Ridge(alpha=5.86)

In [63]:
el_mejor.fit(X_train,y_train)

Ridge(alpha=5.86)

In [64]:
el_mejor.predict(X_train)

array([31.21122923, 24.46689538, 17.10614184, 27.08242121, 19.22836531,
       12.67258735, 34.8138494 , 23.27270367, 20.61264017, 15.80924749,
       23.75099539, 27.52954508, 38.72946381,  9.96840411, 33.81924299,
       24.35685721, 18.31869995, 17.30230562, 21.52027917, 11.38957497,
       18.67002195, 24.38700887, 14.05571335, 19.12376095, 14.88478025,
       20.02964611, 33.08629032, 14.05645815, -3.59750047, 16.29550684,
       12.99928011, 20.4380082 , 14.94032284, 13.55709886, 31.06630772,
        4.79182536, 28.32795843, 32.83474755, 27.34728493, 18.44757067,
       17.71090397, 32.66585076, 36.03036016,  8.55295743, 28.44282848,
       20.20566277, 21.00169857, 23.10027713, 33.17801798, 13.86617082,
       25.32900039, 24.86032837, 20.85586406, 20.40093503, 13.11059203,
       24.29975192, 18.46129725, 21.33910694, 28.38996814, 32.43521946,
       21.77732065, 19.572789  , 20.20683224, 26.47354821, 26.95456759,
       16.48019807,  8.13569383, 22.22469883, 19.41390525, 17.36667594,
        6.547177  , 20.37104677, 18.41210017, 21.8028747 , 20.05657829,
       24.79031157, 20.51726406, 23.50418199, 17.58345541, 19.60556214,
       20.57359154, 15.57049418, 27.47379095, 24.62268868, 30.89918599,
       22.92490328, 21.72148935, 15.24066919, 18.59414209, 25.07883149,
       24.48141518,  9.70611952, 24.63384083, 23.8593531 , 23.55808193,
        7.07438167, 24.25558904, 25.2436638 ,  1.74492167, 26.34993974,
       17.37684222, 19.46695338, 18.19023132, 17.17983546, 19.84674194,
       22.01288462, 23.79062759, 15.8022745 , 34.76494582, 17.29693768,
       18.0909061 , 23.12569772, 37.24807517, 23.85280949, 30.59988679,
       35.46030709, 25.22912616, 35.11804659, 23.68117426, 17.89096983,
       25.60126287, 37.22542388, 25.45581332, 29.48115123, 13.20676302,
       27.84493721,  9.14677347, 28.15084856, 31.08448167, 19.97702243,
       26.94790279, 17.69019669, 20.76392568, 25.1052648 , 12.49037325,
       36.68792629, 21.81906045, 26.77271207, 18.85268025, 22.05887745,
       35.34812348, 25.4632176 , 30.8948508 , 20.96253471, 14.81407901,
       19.0860781 , 16.35981427, 16.8255162 , 34.20118531, 18.24767565,
       30.18012566, 26.69872478, 19.13008781, 21.22319072, 28.93051998,
       14.19834906, 16.70956985, 19.96417127, 25.8361997 , 27.59687837,
       12.40160998, 23.95844854, 41.06881458, 28.1414917 , 17.45038013,
       19.9249064 , 24.41989375, 19.92249194, 33.48526984, 24.78571504,
        6.77477488, 13.60046869, 20.17727118, 21.95152723, 20.15493561,
       24.88605611, 14.04992435, 17.93121793,  7.41379445, 22.07022093,
       28.2073841 , 30.76295245, 42.82209864, 23.81263877, 22.59811061,
       25.01872919, 18.0594151 , 17.76371711, 26.56689803, 31.51344612,
       24.24939843, 15.79673417, 32.07219587, 32.19478164, 26.50303583,
       25.3491414 , 22.99959162, 29.01586174, 16.1320679 , 13.61631043,
       16.64518848, 31.1628479 , 16.1221491 , 36.68876851, 27.50955084,
       24.77093622, 26.52700093, 22.81819903,  7.84190575, 22.87669993,
       31.87495172, 31.01621425, 11.71546088, 41.65572653, 35.58751315,
       22.7962028 , 28.4783451 , 21.07747495, 12.57341118, 14.15385453,
       12.80646129, 34.53251115, 16.88534753, 20.09696014, 15.73910934,
       14.50560193, 41.65203907, 21.58988866, 31.40800097, 25.90561194,
       33.17142668, 32.75690357, 22.41635765, 32.27548916, 21.82158793,
       20.55527156, 27.72017255, 25.93341812, 18.54717993, 17.68668397,
       17.02066468, 21.50949253, 26.26513355, 25.47681923, 33.10582448,
       37.13121032, 45.64832914, 32.610074  , 10.04375598, 13.12507848,
       35.20006297, 22.82500496, 21.92678141, 15.92643861, 25.93698792,
       23.18656351, 19.28026117, 21.37768116, 28.66107126, 35.71374184,
       20.34957696, 19.1704941 , 43.46972528,  4.58695454, 19.48147479,
       25.07292749, 18.32442293, 32.87651494,  1.23575228, 23.39000853,
       23.67408249, 13.86630293, 18.16671838, 23.11875991, 28.48301426,
       25.67267576, 28.4699378 , 25.60470679, 21.35966597, 14.17318383,
       24.73399445, 12.1117995 , 14.42694304, 14.36017284, 15.68191456,
       21.28494523, 28.90654598, 17.3904828 , 27.14509228, 16.29997589,
       28.15695905, 19.45940077, 14.02983325, 36.50974636, 30.88563182,
       14.87937796, 21.0482169 , 22.71422657, 14.29621169, 11.67410407,
       22.55660975, 22.08118274, 22.03006574, 22.53200667, 37.48365509,
       18.52860745, 30.65081881, 33.77093737, 34.09741226, 21.04036241,
       13.13577982, 13.26787477, 19.7170779 , 22.36212258, 37.38691615,
       24.59116389, 43.19256959, 13.0090385 , 27.03127591, 22.4689526 ,
       32.44967136, 16.73698184, 30.11900021,  9.8701307 , 19.443264  ,
       32.19361272, 20.09960145, 20.92226023, 37.3359658 , 36.5354046 ,
       20.9152553 , 33.33330486, 28.51060251, 28.57095097, 15.55426247,
       20.72877219, 15.84355016, 19.89803762, 40.76444091, 18.21028685,
       20.55815375, 14.06261018,  9.31892018, 19.40666776, 19.19593954,
       28.7419964 , 38.72953122, 39.20982283, 30.43590886, 33.31740299,
       29.26153028, 17.01459962,  6.83370425, 22.66447736, 23.50224909,
       15.19496233, 17.88383521, 18.24985362, 30.4751647 , 18.53106581,
       19.15051242, 38.11981609, 11.69271204, 13.39492269,  8.99404352,
       24.69393995, 35.02527023, 24.40258295, 15.96841024, 11.79948169,
       17.2419942 , 20.51317413, 25.16107172, 15.22262422, 19.49546094,
       20.29196127, 18.47201448, 29.33407714, 21.15186447, 41.1571403 ,
       21.34049184, 25.46230954, 18.0004356 ,  6.2082497 , 18.86431644,
       21.93678119,  6.44027408,  9.21408846, 14.68219795, 24.90366941,
       20.70913662, 35.00976749, 30.63809287,  9.19499119, 24.5447706 ,
       21.8037909 , 36.52289205, 30.20871423, 25.60990214, 27.32732371,
       18.25151969, 34.65305928, 25.18666662, 16.20593121])

In [65]:
(y_test-el_mejor.predict(X_test)).sum()

-62.80100197459324

286    20.1
352    18.6
468    19.1
225    50.0
452    16.1
       ...
378    13.1
408    17.2
219    23.0
224    44.8
78     21.2
Name: Price, Length: 102, dtype: float64

In [92]:
#####
#Regresión LASSO

import pandas as pd
import numpy as np 

from sklearn.linear_model import Lasso, ElasticNet
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [93]:
data=pd.read_csv('https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv')

In [94]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [95]:
data.keys()

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [98]:
for col in data.columns:
  if data[col].dtype =='object':
    print(col,data[col].unique())

sex ['female' 'male']
smoker ['yes' 'no']
region ['southwest' 'southeast' 'northwest' 'northeast']

In [99]:
one_hot=OneHotEncoder()

one_hot.fit(data[['sex']]).categories_

[array(['female', 'male'], dtype=object)]

In [101]:
data[['female','male']]=one_hot.fit_transform(data[['sex']]).toarray()

data

,age,sex,bmi,children,smoker,region,charges,female,male
0,19,female,27.900,0,yes,southwest,16884.92400,1.0,0.0
1,18,male,33.770,1,no,southeast,1725.55230,0.0,1.0
2,28,male,33.000,3,no,southeast,4449.46200,0.0,1.0
3,33,male,22.705,0,no,northwest,21984.47061,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,0.0,1.0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0.0,1.0
1334,18,female,31.920,0,no,northeast,2205.98080,1.0,0.0
1335,18,female,36.850,0,no,southeast,1629.83350,1.0,0.0
1336,21,female,25.800,0,no,southwest,2007.94500,1.0,0.0
1337,61,female,29.070,0,yes,northwest,29141.36030,1.0,0.0

In [102]:
data['smoker']=data['smoker'].apply(lambda x:1 if x=='yes' else 0 )
data.head()

   age     sex     bmi  children  smoker     region      charges  female  male
0   19  female  27.900         0       1  southwest  16884.92400     1.0   0.0
1   18    male  33.770         1       0  southeast   1725.55230     0.0   1.0
2   28    male  33.000         3       0  southeast   4449.46200     0.0   1.0
3   33    male  22.705         0       0  northwest  21984.47061     0.0   1.0
4   32    male  28.880         0       0  northwest   3866.85520     0.0   1.0

In [117]:
one_hot=OneHotEncoder()
regions=data['region'].unique()
regions.sort()
regions

array(['northeast', 'northwest', 'southeast', 'southwest'], dtype=object)

In [118]:
data[regions]=one_hot.fit_transform(data[['region']]).toarray()

In [119]:
data[regions]

      northeast  northwest  southeast  southwest
0           0.0        0.0        0.0        1.0
1           0.0        0.0        1.0        0.0
2           0.0        0.0        1.0        0.0
3           0.0        1.0        0.0        0.0
4           0.0        1.0        0.0        0.0
...         ...        ...        ...        ...
1333        0.0        1.0        0.0        0.0
1334        1.0        0.0        0.0        0.0
1335        0.0        0.0        1.0        0.0
1336        0.0        0.0        0.0        1.0
1337        0.0        1.0        0.0        0.0

[1338 rows x 4 columns]

In [120]:
data

,age,sex,bmi,children,smoker,region,charges,female,male,southwest,southeast,northwest,northeast
0,19,female,27.900,0,1,southwest,16884.92400,1.0,0.0,1.0,0.0,0.0,0.0
1,18,male,33.770,1,0,southeast,1725.55230,0.0,1.0,0.0,1.0,0.0,0.0
2,28,male,33.000,3,0,southeast,4449.46200,0.0,1.0,0.0,1.0,0.0,0.0
3,33,male,22.705,0,0,northwest,21984.47061,0.0,1.0,0.0,0.0,1.0,0.0
4,32,male,28.880,0,0,northwest,3866.85520,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,0,northwest,10600.54830,0.0,1.0,0.0,0.0,1.0,0.0
1334,18,female,31.920,0,0,northeast,2205.98080,1.0,0.0,0.0,0.0,0.0,1.0
1335,18,female,36.850,0,0,southeast,1629.83350,1.0,0.0,0.0,1.0,0.0,0.0
1336,21,female,25.800,0,0,southwest,2007.94500,1.0,0.0,1.0,0.0,0.0,0.0
1337,61,female,29.070,0,1,northwest,29141.36030,1.0,0.0,0.0,0.0,1.0,0.0

In [121]:
df_clean=data.drop(columns=['sex','region'])
df_clean

,age,bmi,children,smoker,charges,female,male,southwest,southeast,northwest,northeast
0,19,27.900,0,1,16884.92400,1.0,0.0,1.0,0.0,0.0,0.0
1,18,33.770,1,0,1725.55230,0.0,1.0,0.0,1.0,0.0,0.0
2,28,33.000,3,0,4449.46200,0.0,1.0,0.0,1.0,0.0,0.0
3,33,22.705,0,0,21984.47061,0.0,1.0,0.0,0.0,1.0,0.0
4,32,28.880,0,0,3866.85520,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,10600.54830,0.0,1.0,0.0,0.0,1.0,0.0
1334,18,31.920,0,0,2205.98080,1.0,0.0,0.0,0.0,0.0,1.0
1335,18,36.850,0,0,1629.83350,1.0,0.0,0.0,1.0,0.0,0.0
1336,21,25.800,0,0,2007.94500,1.0,0.0,1.0,0.0,0.0,0.0
1337,61,29.070,0,1,29141.36030,1.0,0.0,0.0,0.0,1.0,0.0

In [123]:
X_train,X_test,y_train,y_test=train_test_split(df_clean.drop('charges',axis=1),
                                               df_clean['charges'],
                                               test_size=0.2,random_state=798)

In [124]:
#Lasso: Least Absolute shrinkage and selection operator
lasso=Lasso() #Lasso(alpha=10)
lasso.fit(X_train,y_train)

Lasso()

In [125]:
lasso.coef_

array([  254.68768561,   363.54905409,   492.3492689 , 23465.41023547,
         193.97066591,    -0.        ,  -732.04531807,  -707.20728694,
           0.        ,   555.59962592])

In [134]:
ridge=Ridge()
ridge.fit(X_train,y_train)

ridge20=Ridge(alpha=20)
ridge20.fit(X_train,y_train)

Ridge(alpha=20)

In [129]:
ridge.coef_

array([  254.44295099,   363.49146393,   492.45235674, 23339.23166925,
          95.31363444,   -95.31363444,  -515.71837007,  -480.71891986,
         219.19289723,   777.24439269])

In [132]:
lasso.predict(X_test[:10])

array([ 9318.92774733, 37750.98987082, 10634.0782061 ,  7854.12325992,
        4215.83849703, 10283.22060087,  8738.33473561, 31526.14793776,
       13166.72494269,  4899.07173032])

In [133]:
ridge.predict(X_test[:10])

array([ 9351.66564362, 37647.44122505, 10653.36257263,  7876.30067334,
        4246.99134904, 10306.32676547,  8768.32646202, 31426.21912816,
       13193.74357335,  4935.68798472])

In [135]:
ridge20.predict(X_test[:10])

array([ 9911.48482322, 35638.70931863, 10926.88205582,  8197.51362899,
        4764.18965868, 10629.05872167,  9326.16649571, 29501.46825921,
       13677.94959747,  5699.07390385])

In [136]:
y_test[:10]

145      5138.25670
1096    44641.19740
447     11454.02150
183      7419.47790
692      2362.22905
520     25656.57526
596      7640.30920
376     21659.93010
138     27322.73386
470      2497.03830
Name: charges, dtype: float64

In [137]:
forest=RandomForestRegressor(n_estimators=100,max_depth=4,random_state=12)
forest.fit(X_train,y_train)

RandomForestRegressor(max_depth=4, random_state=12)

In [139]:
lasso.predict(X_test[:10])

array([ 9318.92774733, 37750.98987082, 10634.0782061 ,  7854.12325992,
        4215.83849703, 10283.22060087,  8738.33473561, 31526.14793776,
       13166.72494269,  4899.07173032])

In [140]:
forest.predict(X_test[:10])

array([ 6539.28954531, 44590.07400772, 12906.62008644,  8863.3057448 ,
        3530.48763592, 10906.11565509,  6998.94765703, 19983.15420287,
       13745.59923983,  5032.64651309])

In [142]:
y_test[:10]

145      5138.25670
1096    44641.19740
447     11454.02150
183      7419.47790
692      2362.22905
520     25656.57526
596      7640.30920
376     21659.93010
138     27322.73386
470      2497.03830
Name: charges, dtype: float64

In [145]:
from sklearn.tree import export_graphviz
import pydot

In [150]:
rf_small=RandomForestRegressor(n_estimators=10,max_depth=7)
rf_small.fit(X_train,y_train)

tree_small= rf_small.estimators_[9]

export_graphviz(tree_small,out_file='small_tree.dot')
(graph, )=pydot.graph_from_dot_file('small_tree.dot')
graph.write_png('small_tree.png')