In [1]:
%load_ext sql

In [25]:
%sql sqlite:///publications.db
#se conecta a la base de datos si existe, y si no, la crea

'Connected: @publications.db'

In [26]:
%%sql 
SELECT * FROM stores;

 * sqlite:///publications.db
   sqlite:///publications_prueba.db
   sqlite:///publifdsfsdcations.db
Done.

[('6380', 'Eric the Read Books', '788 Catamaugus Ave.', 'Seattle', 'WA', '98056'),
 ('7066', "Barnum's", '567 Pasadena Ave.', 'Tustin', 'CA', '92789'),
 ('7067', 'News & Brews', '577 First St.', 'Los Gatos', 'CA', '96745'),
 ('7131', 'Doc-U-Mat: Quality Laundry and Books', '24-A Avogadro Way', 'Remulade', 'WA', '98014'),
 ('7896', 'Fricative Bookshop', '89 Madison St.', 'Fremont', 'CA', '90019'),
 ('8042', 'Bookbeat', '679 Carson St.', 'Portland', 'OR', '89076')]

In [10]:
%%sql
select * from authors
limit 10;

 * sqlite:///publications.db
   sqlite:///publications_prueba.db
Done.

[('172-32-1176', 'White', 'Johnson', '408 496-7223', '10932 Bigge Rd.', 'Menlo Park', 'CA', '94025', 1),
 ('213-46-8915', 'Green', 'Marjorie', '415 986-7020', '309 63rd St. #411', 'Oakland', 'CA', '94618', 1),
 ('238-95-7766', 'Carson', 'Cheryl', '415 548-7723', '589 Darwin Ln.', 'Berkeley', 'CA', '94705', 1),
 ('267-41-2394', "O'Leary", 'Michael', '408 286-2428', '22 Cleveland Av. #14', 'San Jose', 'CA', '95128', 1),
 ('274-80-9391', 'Straight', 'Dean', '415 834-2919', '5420 College Av.', 'Oakland', 'CA', '94609', 1),
 ('341-22-1782', 'Smith', 'Meander', '913 843-0462', '10 Mississippi Dr.', 'Lawrence', 'KS', '66044', 0),
 ('409-56-7008', 'Bennet', 'Abraham', '415 658-9932', '6223 Bateman St.', 'Berkeley', 'CA', '94705', 1),
 ('427-17-2319', 'Dull', 'Ann', '415 836-7128', '3410 Blonde St.', 'Palo Alto', 'CA', '94301', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', '707 938-6445', 'PO Box 792', 'Covelo', 'CA', '95428', 1),
 ('486-29-1786', 'Locksley', 'Charlene', '415 585-4620', '18 Broadway Av.', 'San Francisco', 'CA', '94130', 1)]

In [28]:
%%sql variable_SQL <<
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///publications.db
   sqlite:///publications_prueba.db
   sqlite:///publifdsfsdcations.db
Done.
Returning data to local variable variable_SQL

In [29]:
import pandas as pd
df=pd.DataFrame(variable_SQL)

In [30]:
df

              0
0       authors
1     discounts
2      employee
3          jobs
4      pub_info
5    publishers
6      roysched
7         sales
8        stores
9   titleauthor
10       titles